<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/adminlte.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/css/icheck-bootstrap.min.css' %}"/>


</head>
<body style="background: url('static/img/texture-1504364__340.jpg');">


        <div id="content">
            {% block conteudo %}

            {% endblock %}


        </div>

        <div id="sidebar">
            <h2><a href="{% url 'blog:listar_posts' %}">Meu Blog</a></h2>
            <p>Este e o meu blog</p>
                {% if user.is_anonymous %}
            <p><a class="btn btn-primary" href="{% url 'blog:cadastrouser' %}">Cadastrar</a></p>
            <p><a class="btn btn-primary" href="{% url 'blog:loginuser' %}">Entrar</a></p>
        {% else %}
            <p>Usuario: <b> {{ user.username }} </b></p>
            <p><a class="btn btn-warning" href="{% url 'blog:logoutuser' %}">Sair</a></p>
            <div>
                <img src="static/img/white-sand-beach-2252020_960_720.jpg" style="width: 200px; border-radius: 10px;"/>
            </div>
            <br>
            <div>
                <img src="static/img/mountains-1209302_960_720.jpg" style="width: 200px; border-radius: 10px;"/>
            </div>
        {% endif %}
    </div>


</body>
</html>