{% extends 'blog/base.html' %}


{% block titulo %} Comentario - {{ post.titulo }} {% endblock %}

{% block conteudo %}
{% if user.is_authenticated %}
    <form method="post">
    {% csrf_token %}

        <div class="form-group">
            <p>Comentario do usuario</p>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="nome" value="{{ user.username }}" readonly />
        </div>

        <div class="form-group">
            <label for="email">E-mail:</label>
            <input style="" type="text" id="email" name="email" value="{{ user.email }}" readonly/>
        </div>

        <div class="form-group">
            <label for="corpo">Comentario:</label>
            <textarea id="corpo" name="corpo" rows="6" cols="23"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Salvar">
        </div>
    </form>
{% else %}
    <h3 class="alert">Pagina disponivel apenas para usuarios autenticados</h3>
    <h4 class="warning">Por favor faca login ou cadastre-se</h4>
    <p><a href="{% url 'blog:listar_posts' %}" class="btn btn-warning">Voltar aos posts</a></p>
{% endif %}

{% endblock %}