{% extends 'blog/base.html' %}

{% block titulo %} {{ post.titulo }} {% endblock %}

{% block conteudo %}
    <h1> {{ post.titulo }} </h1>
    <p class="date">
        Publicado em {{ post.publicado }} por {{ post.autor }}
    </p>

    <p class="paragraph">
        {{ post.corpo|linebreaks }}
    </p>
    <br>
    <h4>
        <span style="margin-right: 2px; margin-left: 2px;">
            <a href="{% url 'blog:share_post' post.id %}">
                Compartilhar post...
            </a>
        </span>

        <span style="margin-right: 2px; margin-left: 2px;">
            <a href="{% url 'blog:comentar_post' post.id %}">
                Comentar este post
            </a>
        </span>
    </h4>
    {% for c in coments %}
        <p> Comentario de {{ c.nome }} <br>
            {{ c.corpo }}
        </p>
    {% endfor %}
    <h4>
        <span style="margin-right: 2px; margin-left: 2px;">
            <a href="{% url 'blog:comentar_post' post.id %}">
                Adicionar comentario
            </a>
        </span>
    </h4>

{% endblock %}